<!doctype html>
<html lang="en">
<head>
    <%- include ("../head.ejs") %>
</head>
<body>
<%-include ("../nav.ejs") %>

<section>
    <div class="container">
        <h2>List Category : </h2>
        <a href="/categories/create" class="btn btn-outline-primary">Add Category</a>
        <table class="table table-bordered  mt-5 ">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>

            <% categories.forEach(e=> { %>
                <tr>
                    <th scope="row"> <%= e.id %>  </th>
                    <td><%= e.name %></td>
                    <td><%= e.status %></td>
                    <td>
                        <a href=""  class="btn btn-outline-primary" href="">Edit</a>
                        <a href="" class="btn btn-danger" href="">Delete</a>
                    </td>
                </tr>
            <% }) %>


            </tbody>
        </table>

    </div>

</section>

</body>
</html>
