<!doctype html>
<html lang="en">
<head>
    <%- include ("../head.ejs") %>
</head>
<body>
<%-include ("../nav.ejs") %>

<section>
    <div class="container">
        <h2>List User : </h2>
        <table class="table table-bordered ">
            <thead>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Mobile Number</th>
            <th scope="col">User Name</th>
            </thead>
            <tbody>
            <% users.forEach(e=>{ %>
                <tr>
                    <td><%= e._id %></td>
                    <td><%= e.firstName %></td>
                    <td><%= e.lastName %></td>
                    <td><%= e.mobileNumber %></td>
                    <td><%= e.userName %></td>


                </tr>
            <% }) %>
            </tbody>
        </table>
    </div>

</section>

</body>
</html>
