<!doctype html>
<html lang="en">
<head>
    <%- include ("../head.ejs") %>
</head>
<body>
<%-include ("../nav.ejs") %>

<section>
    <div class="container">
        <h2>List Product : </h2>
        <a href="/products/create" class="btn btn-outline-primary">Add Product</a>
        <table class="table table-bordered  mt-5 ">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Qty</th>
                <th scope="col">Brand</th>
                <th scope="col">Thumbnail</th>

                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>

            <% products.forEach(e=> { %>
                <tr>
                    <th scope="row"> <%= e.id %>  </th>
                    <td><%= e.name %></td>
                    <td><%= e.price %></td>
                    <td><%= e.qty %></td>
                    <td><%= e.brand %></td>
                    <td><img width="80px" src="data:image/<%=e.thumbnail.contentType %>;base64,
                    <%= e.thumbnail.data %>"
                        />

                    </td>



                    <td>
                        <a href="" class="btn btn-outline-primary" href="">Edit</a>
                        <a href="" class="btn btn-danger" >Delete</a>
                    </td>
                </tr>
            <% }) %>


            </tbody>
        </table>

    </div>

</section>

</body>
</html>
